version: '3'

services:
  postgres:
    image: postgres:17.2-alpine
    environment:
      - POSTGRES_USER=testuser
      - POSTGRES_PASSWORD=testpass
      - POSTGRES_DB=projektordb
      - TZ=UTC
    ports:
      - "5433:5432"
  objectstorage:
    image: bitnami/minio:2020.12.29-debian-10-r17
    ports:
      - "9000:9000"
    volumes:
      - ./minio:/data
    environment:
      MINIO_ACCESS_KEY: minio_access_key
      MINIO_SECRET_KEY: minio_secret_key
