<configuration>
    <appender name="base.appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="projektor.logging.ConditionalConsoleEncoder" />
    </appender>

    <Logger name="org.jooq" level="info">
        <AppenderRef ref="Console"/>
    </Logger>

    <Logger name="io.ktor.server.plugins.cors.CORS" level="warn">
        <AppenderRef ref="Console"/>
    </Logger>

    <root level="INFO">
        <appender-ref ref="base.appender"/>
    </root>

</configuration>