<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="test-appender" class="projektor.TestLogAppender"/>

    <Logger name="org.jooq.tools.LoggerListener" level="info">
        <AppenderRef ref="STDOUT"/>
    </Logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="test-appender"/>
    </root>

</configuration>