name: Example projects

on:
  push:
    paths:
      - 'example-data/**'

jobs:
  kover-example:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'temurin'
          cache: 'gradle'

      - name: Gradle build
        env:
          PROJEKTOR_TOKEN: ${{ secrets.PROJEKTOR_TOKEN }}
        working-directory: ./example-data/kover-gradle/
        run: ./gradlew test koverXmlReport
