name: Server & Gradle plugin test

on:
  push:
    paths-ignore:
      - 'functional-test/**'
      - 'publishers/node-script/**'
      - 'ui/**'

jobs:
  gradle-build:
    runs-on: ubuntu-24.04
    services:
      database:
        image: postgres:17.2-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpass
          POSTGRES_DB: projektordb
          TZ: UTC
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      objectstorage:
        image: bitnami/minio:2020.12.29-debian-10-r17
        ports:
          - "9000:9000"
        volumes:
          - /tmp:/data
        env:
          MINIO_ACCESS_KEY: minio_access_key
          MINIO_SECRET_KEY: minio_secret_key

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'gradle'

    - name: Build with Gradle
      env:
        DB_URL: "jdbc:postgresql://localhost:5432/projektordb"
        PROJEKTOR_TOKEN: ${{ secrets.PROJEKTOR_TOKEN }}
        CACHE_ACCESS_KEY: ${{ secrets.CACHE_ACCESS_KEY }}
        CACHE_SECRET_KEY: ${{ secrets.CACHE_SECRET_KEY }}
        HONEYCOMB_API_KEY: ${{ secrets.HONEYCOMB_API_KEY }}
      run: ./gradlew check jTR

    - name: Projektor report URL
      uses: craigatk/projektor-action@v14
      if: failure() || success()
      with:
        print-link: true
