on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'node_*' # Push events to matching node_*, i.e. node_1.0, node_20.15.10

permissions:
  id-token: write  # Required for OIDC
  contents: read

name: Release Node script

jobs:
  build:
    name: Publish Node script release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Set env
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
        run: echo ::set-env name=RELEASE_VERSION::$(echo ${GITHUB_REF:11})

      - name: Node script install
        run: |
          cd publishers/node-script
          yarn install

      - name: Node script publish
        run: |
          cd publishers/node-script
          mv .npmrc-publish .npmrc
          npm publish --access public
