on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'node_*' # Push events to matching node_*, i.e. node_1.0, node_20.15.10

permissions:
  id-token: write  # Required for OIDC
  contents: read

name: Release Node script

jobs:
  build:
    name: Publish Node script release
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: 'publishers/node-script'
    steps:
      - name: Checkout code
        uses: actions/checkout@master

      - name: Publish package
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm publish
