.root {
    display: flex;
}

.appBar {
    background-color: #1c313a !important;
    padding: 5px 10px;
    height: 42px;
}

.appBarLabel {
    margin-left: 192px;
}

.content {
    flex-grow: 1;
    margin-top: 42px;
    max-width: calc(100% - 180px);
}
